@(shop : play.api.libs.json.JsValue)

@main("shop detail") {
    <h2>user: @{(shop \ "user_id").asOpt[String].get} </h2>
    <div>
        <span>screen_name(显示名称): </span>
        <span><input style="width: 80%" data-input="screen_name" value=@{(shop \ "screen_name").asOpt[String].get} /></span>
    </div>
    <div>
        <span>screen_photo(显示图片): </span>
        <img width="100" height="100" src=@{"/query/downloadFile/" + (shop \ "screen_photo").asOpt[String].map (x => x).getOrElse("")} ></img>
        <span>暂时不提供修改</span>
    </div>
    <div>
        <span>company(机构名称): </span>
        <span><input style="width: 80%" data-input="company" value=@{(shop \ "company").asOpt[String].get} /></span>
    </div>
    <div>
        <span>date(创建时间): </span>
        <span><input style="width: 80%"  data-input="date" value=@{(shop \ "date").asOpt[Long].get} /></span>
    </div>
    <div>
        <span>address(公司地址): </span>
        <span><input style="width: 80%" data-input="address" value=@{(shop \ "address").asOpt[String].get} /></span>
    </div>
    <div>
        <span>personal_description(公司描述): </span>
        <textarea style="width: 80%" data-input="personal_description" >@{(shop \ "personal_description").asOpt[String].get}</textarea>
    </div>
    <div>
        <span>contact_no(公司电话): </span>
        <span><input style="width: 80%" data-input="contact_no" value=@{(shop \ "contact_no").asOpt[String].get} /></span>
    </div>

    <button onclick="changeUserProfile()">修改</button>
    <a href=@{"/admin/shop/image/" + (shop \ "user_id").asOpt[String].get}>图片管理</a>

    <script type="text/javascript">
        function changeUserProfile() {
            var screen_name = $('input[data-input="screen_name"]').val();
            var company = $('input[data-input="company"]').val();
            var date = Number($('input[data-input="date"]').val());
            var address = $('input[data-input="address"]').val();
            var personal_description = $('textarea[data-input="personal_description"]').val();
            var contact_no = $('textarea[data-input="contact_no"]').val();

            var query_object = new Object();
            query_object["screen_name"] = screen_name;
            query_object["company"] = company;
            query_object["user_id"] = "@{(shop \ "user_id").asOpt[String].get}";
            query_object["address"] = address;
            query_object["personal_description"] = personal_description;
            query_object["contact_no"] = contact_no;

            $.ajax({
                url: "/admin/shop/update",
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json, charset=utf-8',
                data: JSON.stringify(query_object),
                cache: false,
                success: function (data) {
                    if (data.status == "ok") {
                        alert("修改成功");
                        location.reload();
                    } else {
                        alert(data.error.message);
                    }
                },
                error: function (xhr, status, error) {
                    alert("请检查您的输入");
                }
            });
        }
    </script>
}